# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
egg-info/
*.egg

# Visual Studio Code directory
.vscode/

# PyCharm directory
.idea/

# macOS directory attributes
.DS_Store

# SQLite database file
*.db

# Log files
*.log

# Ignore local settings
local_settings.py

# Ignore environment variables file
.env
