# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
egg-info/
*.egg
ll_env/

# Visual Studio Code directory
.vscode/

# PyCharm directory
.idea/

# macOS directory attributes
.DS_Store

# SQLite database file
*.db

# Log files
*.log

# Ignore local settings
local_settings.py

# Ignore environment variables file
.env

# Media files (if you use Django's MEDIA_ROOT)
media/

# Static files (if you use Django's STATIC_ROOT)
static/

# Ignore database migration files
**/migrations/*.py
**/migrations/*.pyc

# Ignore the secret key file
*.secret_key

# Ignore development settings file
dev_settings.py

# Ignore Django test database
db.sqlite3

